.employeeCard {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.employeeCard img {
  width: 100%;
  height: auto;
  object-fit: cover;
  flex-grow: 1;
  filter: grayscale(100%);
}

.employeeCard .social {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.employeeCard .icon {
  max-width: 32px;
}
