*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

input,
select {
  font: inherit;
}

:root {
  --main-bg-color: #333;
  --main-bg-color: rgba(0, 0, 0, 0.2);
  --text-color: #f6f6f6;
  --border-color: #111;
  --min-card-width: 300px;
  --gap: 1em;
  color-scheme: light dark;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
  min-height: 100vh;
  animation: fade-in 1200ms;
  background-attachment: fixed;
  background-image: linear-gradient(
    76.3deg,
    rgba(44, 62, 78, 1) 12.6%,
    rgba(69, 103, 131, 1) 82.8%
  );
}

#root {
  padding: 2rem;
  margin: 0px auto;
}

@media screen and (min-width: 780px) {
  #root {
    padding: 3rem 5rem;
  }
}

#bg-mask {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: -1;
  background-image: linear-gradient(
    to right,
    rgba(54, 180, 159, 0.3),
    rgba(219, 255, 117, 0.3)
  );
  mask-image: radial-gradient(
    farthest-side at 50% 0%,
    rgb(255, 255, 255),
    rgba(0, 0, 0, 0)
  );
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: linear-gradient(#f9f9f9, #e6e6e6);
    --text-color: #333;
    --border-color: #d3d3d3;
  }

  .employeeCard {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
  }

  h1 {
    color: var(--text-color);
  }

  body {
    background-image: radial-gradient(
      circle 592px at 48.2% 50%,
      rgba(255, 255, 249, 0.455) 0%,
      rgb(163, 168, 174) 222.6%
    );
  }
}

@media (prefers-color-scheme: dark) {
  .spinner {
    filter: invert(1);
  }
}

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
  animation: fade-in 800ms;
}

h2 {
  font-weight: 300;
  font-size: 1.4rem;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 2rem !important;
  }
}
